.header {
  background: #2d2d2d;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.nav-menu button {
  background: none;
  border: none;
  color: white;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}
.nav-menu button:hover {
  text-decoration: underline;
}
h2{
  margin: 20px;
}